*.[oa]
*~
*.po
*.lo
*.la
autom4te.cache/*
*.in
*/.deps/*
m4/*
*.dll
*.so
*.dylib
*.patch
aclocal.m4
config.h
config.log
config.sub
config.guess
config.status
configure
depcomp
install-sh
compile
main
ltmain.sh
missing
mkinstalldirs
libtool
*Makefile
stamp-h1
src/.libs
*.pc
tools/.libs/*
tools/irecovery
.irecovery
udev/39-libirecovery.rules
.DS_Store
